@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-primary: #216308;
  --color-secondary: #255dad;
  --color-fidelity-green-bright: #368727;
  
  --color-surface-gray: #f4f4f4;
  --color-border-subtle: #d1d1d1;
  --color-surface-container: #f0edec;
  --color-surface-container-low: #f6f3f2;
}

body {
  font-family: var(--font-sans);
  background-color: #fcf9f8;
  color: #1c1b1b;
}

